.signup-page {
  height: 100vh;
  background-image: url('/image/Delivery-boy.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
  background-color: #FFF;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2),
              inset 0 2px 5px rgba(255, 255, 255, 0.2);
  text-align: center;
  max-width: 360px;
  height: 460px;
  width: 100%;
  color: #fff;
  position: relative;
  border: 2px solid black
}

.signup-heading{
    margin-bottom: 1.5rem;
    color: #111;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    margin-top: -10px;
}

.signup-text{
    width: 100%;
    padding: 12px;
    margin: 1rem 0;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    background-color: #EEE;
    color: #111;
}

.signup-text ::placeholder{
    color: #222;
}

.signup-button{
   margin-top: 1rem;
   width: 106%;
   padding: 12px;
   border: none;
   border-radius: 8px;
   background: linear-gradient(135deg, #89f7fe, #66a6ff);
   color: white;
   font-size: 16px;
   cursor: pointer;
   transition: background 0.5s ease; 
}

.signup-button  :hover{
    background-color: #e04848;
}

.login-note{
    margin-top: 1rem;
    font-size: 15px;
    color: #111;
    text-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.login-nav{
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

.terms-checkbox {
  margin: 10px 0;
  font-size: 0.9rem;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.terms-checkbox input {
  accent-color: #ff5a5f; 
}
